<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blueflix - Início</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <footer class="menu-footer">
        <nav class="footer-nav">
          <ul>
            <li>
              <a href="">
                <img src="../img/blueflix-logo.png" alt="">
              </a>
            </li>
            <li>
              <a href="">
                Início
              </a>
            </li>
            <li>
              <a href="./filmes.html">
                Filmes
              </a>
            </li>
          </ul>
        </nav>
      </footer>
      <div id="acessar">
      <a href="./filmes.html" class="myButton">Acessar</a>
    </div>
</body>
</html>